@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Lato%3Aital%2Cwght%400%2C400%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-nCrcnAjbI1Bf: 16px;
  --plasmic-token-h-2: var(--token-nCrcnAjbI1Bf);
  --token-OqAAZ103hJOT: #2a2b37;
  --plasmic-token-neutral-900: var(--token-OqAAZ103hJOT);
  --token-Xccryh14QQgZ: #383848;
  --plasmic-token-neutral-800: var(--token-Xccryh14QQgZ);
  --token-tCrSxDDeuF1N: #48485c;
  --plasmic-token-neutral-700: var(--token-tCrSxDDeuF1N);
  --token-0oTKmouRKQuz: #5c5d76;
  --plasmic-token-neutral-600: var(--token-0oTKmouRKQuz);
  --token-YV3a4M4RF086: #656682;
  --plasmic-token-neutral-500: var(--token-YV3a4M4RF086);
  --token-ebeQoIjMMuGm: #84859b;
  --plasmic-token-neutral-400: var(--token-ebeQoIjMMuGm);
  --token--ac7axGn64kY: #9898ab;
  --plasmic-token-neutral-300: var(--token--ac7axGn64kY);
  --token-UE-BdA5s9fLj: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-UE-BdA5s9fLj);
  --token-UfpAkz-UnpD2: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-UfpAkz-UnpD2);
  --token-JnbpNvUqh7n4: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-JnbpNvUqh7n4);
  --token-o9_j13iOU4Ex: 14px;
  --plasmic-token-body-small: var(--token-o9_j13iOU4Ex);
  --token-DclPXs3TjkJ7: 20px;
  --plasmic-token-body-small-2: var(--token-DclPXs3TjkJ7);
  --token-vNMypZJMxDY4: #01471e;
  --plasmic-token-success-text: var(--token-vNMypZJMxDY4);
  --token-8vY8QFPRS3In: #dffbea;
  --plasmic-token-success-bg: var(--token-8vY8QFPRS3In);
  --token-YMg1YdHhnBcj: #aff5cb;
  --plasmic-token-success-200: var(--token-YMg1YdHhnBcj);
  --token-P394LNOmMYj9: #87efb1;
  --plasmic-token-success-300: var(--token-P394LNOmMYj9);
  --token-PCNjwuAlHxeC: #5fea97;
  --plasmic-token-success-400: var(--token-PCNjwuAlHxeC);
  --token-8aT3Vdk0VO64: #37e57d;
  --plasmic-token-success-500: var(--token-8aT3Vdk0VO64);
  --token-scPkvtdcy47B: #24bf63;
  --plasmic-token-success-600: var(--token-scPkvtdcy47B);
  --token-zeVtKML-2mc7: #159649;
  --plasmic-token-success-700: var(--token-zeVtKML-2mc7);
  --token-jXFo8T_X7rF3: #096e32;
  --plasmic-token-success-800: var(--token-jXFo8T_X7rF3);
  --token-QukCN3kt8T6Q: #d7faf8;
  --plasmic-token-secondary-100: var(--token-QukCN3kt8T6Q);
  --token-XUL41sNBp4y-: #aff5f0;
  --plasmic-token-secondary-200: var(--token-XUL41sNBp4y-);
  --token-N1xYel-G2ADD: #87efe8;
  --plasmic-token-secondary-300: var(--token-N1xYel-G2ADD);
  --token-576GGj-gzK7q: #5feae1;
  --plasmic-token-secondary-400: var(--token-576GGj-gzK7q);
  --token-81JZtfTKxwUB: #37e5db;
  --plasmic-token-secondary-500: var(--token-81JZtfTKxwUB);
  --token-_UiKAuLOjB9H: #24bfb5;
  --plasmic-token-secondary-600: var(--token-_UiKAuLOjB9H);
  --token-fTzglvQM_nQG: #15968e;
  --plasmic-token-secondary-700: var(--token-fTzglvQM_nQG);
  --token-ERiq8WZeHiCg: #096e67;
  --plasmic-token-secondary-800: var(--token-ERiq8WZeHiCg);
  --token-kcG4gJKLjpQ7: #014743;
  --plasmic-token-secondary-900: var(--token-kcG4gJKLjpQ7);
  --token-McWSSylYd7qg: #d8d8fa;
  --plasmic-token-primary-100: var(--token-McWSSylYd7qg);
  --token-HBG3SQa7ph_c: #b0b1f4;
  --plasmic-token-primary-200: var(--token-HBG3SQa7ph_c);
  --token-8rRhhQOxNEpH: #898bef;
  --plasmic-token-primary-300: var(--token-8rRhhQOxNEpH);
  --token-hQFkHZMdo7Hd: #6164e9;
  --plasmic-token-primary-400: var(--token-hQFkHZMdo7Hd);
  --token-OIu3hPk-mhfL: #3a3de4;
  --plasmic-token-primary-500: var(--token-OIu3hPk-mhfL);
  --token-Mc5G_GmE5dOG: #2225bf;
  --plasmic-token-primary-600: var(--token-Mc5G_GmE5dOG);
  --token-KEEjY6hiaKiK: #141696;
  --plasmic-token-primary-700: var(--token-KEEjY6hiaKiK);
  --token-tXmdOFJ3B6SK: #08096e;
  --plasmic-token-primary-800: var(--token-tXmdOFJ3B6SK);
  --token-2hDXaZfqhERW: #010347;
  --plasmic-token-primary-900: var(--token-2hDXaZfqhERW);
  --token-XSL2823xYByN: #f2f3fd;
  --plasmic-token-primary-050: var(--token-XSL2823xYByN);
  --token-IIuQxvk0LG4B: #faf6d7;
  --plasmic-token-warning-100: var(--token-IIuQxvk0LG4B);
  --token--vtCyX8_esXi: #f5eeaf;
  --plasmic-token-warning-200: var(--token--vtCyX8_esXi);
  --token-Ds5FCd4KxhuG: #efe587;
  --plasmic-token-warning-300: var(--token-Ds5FCd4KxhuG);
  --token-tm1uwzpIy_eK: #eadd5f;
  --plasmic-token-warning-400: var(--token-tm1uwzpIy_eK);
  --token-iwK_a__m5NBu: #e5d437;
  --plasmic-token-warning-500: var(--token-iwK_a__m5NBu);
  --token-mTaTQv-DytHT: #bfb024;
  --plasmic-token-warning-600: var(--token-mTaTQv-DytHT);
  --token-NVUATGLdSl6N: #998c15;
  --plasmic-token-warning-700: var(--token-NVUATGLdSl6N);
  --token-0U6-OGhE2ovh: #6e6408;
  --plasmic-token-warning-800: var(--token-0U6-OGhE2ovh);
  --token-7G83GsueXSGe: #383302;
  --plasmic-token-warning-900: var(--token-7G83GsueXSGe);
  --token-5jYOi6zUztIc: #fad7d7;
  --plasmic-token-danger-100: var(--token-5jYOi6zUztIc);
  --token-giI-QWxxu5qj: #f18787;
  --plasmic-token-danger-300: var(--token-giI-QWxxu5qj);
  --token-73pP-N2jehAV: #f6afaf;
  --plasmic-token-danger-200: var(--token-73pP-N2jehAV);
  --token-jVNaD5nWfOZc: #ed6060;
  --plasmic-token-danger-400: var(--token-jVNaD5nWfOZc);
  --token-BIeGFHw2ItRE: #e83838;
  --plasmic-token-danger-500: var(--token-BIeGFHw2ItRE);
  --token-UhKcEtKYW6UQ: #c22525;
  --plasmic-token-danger-600: var(--token-UhKcEtKYW6UQ);
  --token-52ijIKMhrI52: #9c1616;
  --plasmic-token-danger-700: var(--token-52ijIKMhrI52);
  --token-QdRutWfFtoxS: #6b0707;
  --plasmic-token-danger-800: var(--token-QdRutWfFtoxS);
  --token-HGSqfFg5De5B: #360202;
  --plasmic-token-danger-900: var(--token-HGSqfFg5De5B);
  --token-kiN4ZOKxiSWb: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-kiN4ZOKxiSWb);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-8KTqTJvD1hru_font-family: "Inter", sans-serif;
  --mixin-8KTqTJvD1hru_font-size: 14px;
  --mixin-8KTqTJvD1hru_font-weight: 400;
  --mixin-8KTqTJvD1hru_font-style: normal;
  --mixin-8KTqTJvD1hru_color: var(--token--ac7axGn64kY);
  --mixin-8KTqTJvD1hru_text-align: left;
  --mixin-8KTqTJvD1hru_text-transform: none;
  --mixin-8KTqTJvD1hru_line-height: 21px;
  --mixin-8KTqTJvD1hru_letter-spacing: -0.6%;
  --mixin-8KTqTJvD1hru_white-space: pre-wrap;
  --mixin-8KTqTJvD1hru_user-select: text;
  --mixin-8KTqTJvD1hru_text-decoration-line: none;
  --mixin-8KTqTJvD1hru_text-overflow: clip;
  --mixin-qeZRkhMA_x4-_color: var(--token-OqAAZ103hJOT);
  --mixin-qeZRkhMA_x4-_font-weight: 600;
  --mixin-qeZRkhMA_x4-_font-size: 26px;
  --mixin-qeZRkhMA_x4-_line-height: 32px;
  --mixin-qeZRkhMA_x4-_letter-spacing: -1%;
  --mixin-qeZRkhMA_x4-_white-space: pre-wrap;
  --mixin-bQEuwSW0cfv7_color: var(--token-OqAAZ103hJOT);
  --mixin-bQEuwSW0cfv7_font-size: 23px;
  --mixin-bQEuwSW0cfv7_font-weight: 700;
  --mixin-bQEuwSW0cfv7_line-height: 28px;
  --mixin-bQEuwSW0cfv7_font-family: "Inter", sans-serif;
  --mixin-bQEuwSW0cfv7_letter-spacing: -1%;
  --mixin-bQEuwSW0cfv7_white-space: pre-wrap;
  --mixin-SiFtDMEav-3P_color: #0070f3;
  --mixin-SiFtDMEav-3P_white-space: pre-wrap;
  --mixin-TNf2Cq4O5nyj_color: var(--token-OqAAZ103hJOT);
  --mixin-TNf2Cq4O5nyj_font-size: 20px;
  --mixin-TNf2Cq4O5nyj_font-weight: 700;
  --mixin-TNf2Cq4O5nyj_line-height: 24px;
  --mixin-TNf2Cq4O5nyj_letter-spacing: -1%;
  --mixin-TNf2Cq4O5nyj_font-family: "Inter", sans-serif;
  --mixin-TNf2Cq4O5nyj_white-space: pre-wrap;
  --mixin-B3ca7ZUQolgg_color: var(--token-OqAAZ103hJOT);
  --mixin-B3ca7ZUQolgg_font-size: 18px;
  --mixin-B3ca7ZUQolgg_font-weight: 700;
  --mixin-B3ca7ZUQolgg_line-height: 24px;
  --mixin-B3ca7ZUQolgg_letter-spacing: -1%;
  --mixin-B3ca7ZUQolgg_font-family: "Inter", sans-serif;
  --mixin-B3ca7ZUQolgg_white-space: pre-wrap;
  --mixin-94duzCyWEbxV_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-94duzCyWEbxV_border-bottom-color: #dddddd;
  --mixin-94duzCyWEbxV_border-bottom-style: solid;
  --mixin-94duzCyWEbxV_border-bottom-width: 1px;
  --mixin-94duzCyWEbxV_border-left-color: #dddddd;
  --mixin-94duzCyWEbxV_border-left-style: solid;
  --mixin-94duzCyWEbxV_border-left-width: 1px;
  --mixin-94duzCyWEbxV_border-right-color: #dddddd;
  --mixin-94duzCyWEbxV_border-right-style: solid;
  --mixin-94duzCyWEbxV_border-right-width: 1px;
  --mixin-94duzCyWEbxV_border-top-color: #dddddd;
  --mixin-94duzCyWEbxV_border-top-style: solid;
  --mixin-94duzCyWEbxV_border-top-width: 1px;
  --mixin-94duzCyWEbxV_border-bottom-left-radius: 3px;
  --mixin-94duzCyWEbxV_border-bottom-right-radius: 3px;
  --mixin-94duzCyWEbxV_border-top-left-radius: 3px;
  --mixin-94duzCyWEbxV_border-top-right-radius: 3px;
  --mixin-94duzCyWEbxV_font-family: "Inconsolata";
  --mixin-94duzCyWEbxV_padding-bottom: 1px;
  --mixin-94duzCyWEbxV_padding-left: 4px;
  --mixin-94duzCyWEbxV_padding-right: 4px;
  --mixin-94duzCyWEbxV_padding-top: 1px;
  --mixin-94duzCyWEbxV_white-space: pre-wrap;
  --mixin-xn0KtIbn6Rq0_border-left-color: #dddddd;
  --mixin-xn0KtIbn6Rq0_border-left-style: solid;
  --mixin-xn0KtIbn6Rq0_border-left-width: 3px;
  --mixin-xn0KtIbn6Rq0_color: #888888;
  --mixin-xn0KtIbn6Rq0_padding-left: 10px;
  --mixin-xn0KtIbn6Rq0_white-space: pre-wrap;
  --mixin-C3wcBHrHrKXs_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-C3wcBHrHrKXs_border-bottom-color: #dddddd;
  --mixin-C3wcBHrHrKXs_border-bottom-style: solid;
  --mixin-C3wcBHrHrKXs_border-bottom-width: 1px;
  --mixin-C3wcBHrHrKXs_border-left-color: #dddddd;
  --mixin-C3wcBHrHrKXs_border-left-style: solid;
  --mixin-C3wcBHrHrKXs_border-left-width: 1px;
  --mixin-C3wcBHrHrKXs_border-right-color: #dddddd;
  --mixin-C3wcBHrHrKXs_border-right-style: solid;
  --mixin-C3wcBHrHrKXs_border-right-width: 1px;
  --mixin-C3wcBHrHrKXs_border-top-color: #dddddd;
  --mixin-C3wcBHrHrKXs_border-top-style: solid;
  --mixin-C3wcBHrHrKXs_border-top-width: 1px;
  --mixin-C3wcBHrHrKXs_border-bottom-left-radius: 3px;
  --mixin-C3wcBHrHrKXs_border-bottom-right-radius: 3px;
  --mixin-C3wcBHrHrKXs_border-top-left-radius: 3px;
  --mixin-C3wcBHrHrKXs_border-top-right-radius: 3px;
  --mixin-C3wcBHrHrKXs_font-family: "Inconsolata";
  --mixin-C3wcBHrHrKXs_padding-bottom: 3px;
  --mixin-C3wcBHrHrKXs_padding-left: 6px;
  --mixin-C3wcBHrHrKXs_padding-right: 6px;
  --mixin-C3wcBHrHrKXs_padding-top: 3px;
  --mixin-C3wcBHrHrKXs_white-space: pre-wrap;
  --mixin-MABmzYKty0Ds_display: flex;
  --mixin-MABmzYKty0Ds_flex-direction: column;
  --mixin-MABmzYKty0Ds_align-items: stretch;
  --mixin-MABmzYKty0Ds_justify-content: flex-start;
  --mixin-MABmzYKty0Ds_list-style-position: outside;
  --mixin-MABmzYKty0Ds_padding-left: 40px;
  --mixin-MABmzYKty0Ds_position: relative;
  --mixin-MABmzYKty0Ds_list-style-type: disc;
  --mixin-MABmzYKty0Ds_white-space: pre-wrap;
  --mixin-plcd_E31xUy0_display: flex;
  --mixin-plcd_E31xUy0_flex-direction: column;
  --mixin-plcd_E31xUy0_align-items: stretch;
  --mixin-plcd_E31xUy0_justify-content: flex-start;
  --mixin-plcd_E31xUy0_list-style-position: outside;
  --mixin-plcd_E31xUy0_padding-left: 40px;
  --mixin-plcd_E31xUy0_position: relative;
  --mixin-plcd_E31xUy0_list-style-type: decimal;
  --mixin-plcd_E31xUy0_white-space: pre-wrap;
  --mixin-a9SMytVgaqXs_color: var(--token-Xccryh14QQgZ);
  --mixin-a9SMytVgaqXs_font-size: 16px;
  --mixin-a9SMytVgaqXs_font-weight: 600;
  --mixin-a9SMytVgaqXs_line-height: 20px;
  --mixin-a9SMytVgaqXs_letter-spacing: -1%;
  --mixin-a9SMytVgaqXs_font-family: "Inter", sans-serif;
  --mixin-a9SMytVgaqXs_white-space: pre-wrap;
  --mixin-WvXbR81atCiK_color: var(--token-OqAAZ103hJOT);
  --mixin-WvXbR81atCiK_font-size: 14px;
  --mixin-WvXbR81atCiK_font-weight: 600;
  --mixin-WvXbR81atCiK_line-height: 20px;
  --mixin-WvXbR81atCiK_letter-spacing: 1%;
  --mixin-WvXbR81atCiK_font-family: "Inter", sans-serif;
  --mixin-WvXbR81atCiK_white-space: pre-wrap;
  --mixin-wvtiLyd-nRLG_color: #3291ff;
  --mixin-wvtiLyd-nRLG_white-space: pre-wrap;
  --mixin-5MHs9H3neg8j_white-space: pre-wrap;
  --mixin-ceVwa-0f15oC_color: var(--token-tCrSxDDeuF1N);
  --mixin-ceVwa-0f15oC_font-family: "Inter", sans-serif;
  --mixin-ceVwa-0f15oC_font-weight: 500;
  --mixin-ceVwa-0f15oC_font-size: 16px;
  --mixin-ceVwa-0f15oC_line-height: 24px;
  --mixin-ceVwa-0f15oC_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-0jic4t54kPPA_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-0jic4t54kPPA_white-space);
  --mixin-aqWtJURophSA_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-aqWtJURophSA_white-space);
  --mixin-39M-4ERxAaoy_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-39M-4ERxAaoy_box-shadow);
  --mixin-39M-4ERxAaoy_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-39M-4ERxAaoy_white-space
  );
  --mixin-2bFrtmV08i2M_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-2bFrtmV08i2M_white-space);
  --mixin-cOiIQWAqy0Hh_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-cOiIQWAqy0Hh_white-space);
  --mixin-O0_mbpO9xTfO_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-O0_mbpO9xTfO_box-shadow
  );
  --mixin-O0_mbpO9xTfO_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-O0_mbpO9xTfO_white-space
  );
  --mixin-Q9F95blp760D_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-Q9F95blp760D_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-8KTqTJvD1hru_font-family);
  font-size: var(--mixin-8KTqTJvD1hru_font-size);
  font-weight: var(--mixin-8KTqTJvD1hru_font-weight);
  font-style: var(--mixin-8KTqTJvD1hru_font-style);
  color: var(--mixin-8KTqTJvD1hru_color);
  text-align: var(--mixin-8KTqTJvD1hru_text-align);
  text-transform: var(--mixin-8KTqTJvD1hru_text-transform);
  line-height: var(--mixin-8KTqTJvD1hru_line-height);
  letter-spacing: var(--mixin-8KTqTJvD1hru_letter-spacing);
  white-space: var(--mixin-8KTqTJvD1hru_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-qeZRkhMA_x4-_color);
  font-weight: var(--mixin-qeZRkhMA_x4-_font-weight);
  font-size: var(--mixin-qeZRkhMA_x4-_font-size);
  line-height: var(--mixin-qeZRkhMA_x4-_line-height);
  letter-spacing: var(--mixin-qeZRkhMA_x4-_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-bQEuwSW0cfv7_color);
  font-size: var(--mixin-bQEuwSW0cfv7_font-size);
  font-weight: var(--mixin-bQEuwSW0cfv7_font-weight);
  line-height: var(--mixin-bQEuwSW0cfv7_line-height);
  font-family: var(--mixin-bQEuwSW0cfv7_font-family);
  letter-spacing: var(--mixin-bQEuwSW0cfv7_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-SiFtDMEav-3P_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-TNf2Cq4O5nyj_color);
  font-size: var(--mixin-TNf2Cq4O5nyj_font-size);
  font-weight: var(--mixin-TNf2Cq4O5nyj_font-weight);
  line-height: var(--mixin-TNf2Cq4O5nyj_line-height);
  letter-spacing: var(--mixin-TNf2Cq4O5nyj_letter-spacing);
  font-family: var(--mixin-TNf2Cq4O5nyj_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-B3ca7ZUQolgg_color);
  font-size: var(--mixin-B3ca7ZUQolgg_font-size);
  font-weight: var(--mixin-B3ca7ZUQolgg_font-weight);
  line-height: var(--mixin-B3ca7ZUQolgg_line-height);
  letter-spacing: var(--mixin-B3ca7ZUQolgg_letter-spacing);
  font-family: var(--mixin-B3ca7ZUQolgg_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-94duzCyWEbxV_font-family);
  border-radius: var(--mixin-94duzCyWEbxV_border-top-left-radius)
    var(--mixin-94duzCyWEbxV_border-top-right-radius)
    var(--mixin-94duzCyWEbxV_border-bottom-right-radius)
    var(--mixin-94duzCyWEbxV_border-bottom-left-radius);
  padding: var(--mixin-94duzCyWEbxV_padding-top)
    var(--mixin-94duzCyWEbxV_padding-right)
    var(--mixin-94duzCyWEbxV_padding-bottom)
    var(--mixin-94duzCyWEbxV_padding-left);
  border-top: var(--mixin-94duzCyWEbxV_border-top-width)
    var(--mixin-94duzCyWEbxV_border-top-style)
    var(--mixin-94duzCyWEbxV_border-top-color);
  border-right: var(--mixin-94duzCyWEbxV_border-right-width)
    var(--mixin-94duzCyWEbxV_border-right-style)
    var(--mixin-94duzCyWEbxV_border-right-color);
  border-bottom: var(--mixin-94duzCyWEbxV_border-bottom-width)
    var(--mixin-94duzCyWEbxV_border-bottom-style)
    var(--mixin-94duzCyWEbxV_border-bottom-color);
  border-left: var(--mixin-94duzCyWEbxV_border-left-width)
    var(--mixin-94duzCyWEbxV_border-left-style)
    var(--mixin-94duzCyWEbxV_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-xn0KtIbn6Rq0_color);
  padding-left: var(--mixin-xn0KtIbn6Rq0_padding-left);
  border-left: var(--mixin-xn0KtIbn6Rq0_border-left-width)
    var(--mixin-xn0KtIbn6Rq0_border-left-style)
    var(--mixin-xn0KtIbn6Rq0_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-C3wcBHrHrKXs_font-family);
  border-radius: var(--mixin-C3wcBHrHrKXs_border-top-left-radius)
    var(--mixin-C3wcBHrHrKXs_border-top-right-radius)
    var(--mixin-C3wcBHrHrKXs_border-bottom-right-radius)
    var(--mixin-C3wcBHrHrKXs_border-bottom-left-radius);
  padding: var(--mixin-C3wcBHrHrKXs_padding-top)
    var(--mixin-C3wcBHrHrKXs_padding-right)
    var(--mixin-C3wcBHrHrKXs_padding-bottom)
    var(--mixin-C3wcBHrHrKXs_padding-left);
  border-top: var(--mixin-C3wcBHrHrKXs_border-top-width)
    var(--mixin-C3wcBHrHrKXs_border-top-style)
    var(--mixin-C3wcBHrHrKXs_border-top-color);
  border-right: var(--mixin-C3wcBHrHrKXs_border-right-width)
    var(--mixin-C3wcBHrHrKXs_border-right-style)
    var(--mixin-C3wcBHrHrKXs_border-right-color);
  border-bottom: var(--mixin-C3wcBHrHrKXs_border-bottom-width)
    var(--mixin-C3wcBHrHrKXs_border-bottom-style)
    var(--mixin-C3wcBHrHrKXs_border-bottom-color);
  border-left: var(--mixin-C3wcBHrHrKXs_border-left-width)
    var(--mixin-C3wcBHrHrKXs_border-left-style)
    var(--mixin-C3wcBHrHrKXs_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-MABmzYKty0Ds_display);
  flex-direction: var(--mixin-MABmzYKty0Ds_flex-direction);
  align-items: var(--mixin-MABmzYKty0Ds_align-items);
  justify-content: var(--mixin-MABmzYKty0Ds_justify-content);
  list-style-position: var(--mixin-MABmzYKty0Ds_list-style-position);
  padding-left: var(--mixin-MABmzYKty0Ds_padding-left);
  position: var(--mixin-MABmzYKty0Ds_position);
  list-style-type: var(--mixin-MABmzYKty0Ds_list-style-type);
  flex-column-gap: var(--mixin-MABmzYKty0Ds_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-plcd_E31xUy0_display);
  flex-direction: var(--mixin-plcd_E31xUy0_flex-direction);
  align-items: var(--mixin-plcd_E31xUy0_align-items);
  justify-content: var(--mixin-plcd_E31xUy0_justify-content);
  list-style-position: var(--mixin-plcd_E31xUy0_list-style-position);
  padding-left: var(--mixin-plcd_E31xUy0_padding-left);
  position: var(--mixin-plcd_E31xUy0_position);
  list-style-type: var(--mixin-plcd_E31xUy0_list-style-type);
  flex-column-gap: var(--mixin-plcd_E31xUy0_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-a9SMytVgaqXs_color);
  font-size: var(--mixin-a9SMytVgaqXs_font-size);
  font-weight: var(--mixin-a9SMytVgaqXs_font-weight);
  line-height: var(--mixin-a9SMytVgaqXs_line-height);
  letter-spacing: var(--mixin-a9SMytVgaqXs_letter-spacing);
  font-family: var(--mixin-a9SMytVgaqXs_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-WvXbR81atCiK_color);
  font-size: var(--mixin-WvXbR81atCiK_font-size);
  font-weight: var(--mixin-WvXbR81atCiK_font-weight);
  line-height: var(--mixin-WvXbR81atCiK_line-height);
  letter-spacing: var(--mixin-WvXbR81atCiK_letter-spacing);
  font-family: var(--mixin-WvXbR81atCiK_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-wvtiLyd-nRLG_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-ceVwa-0f15oC_color);
  font-family: var(--mixin-ceVwa-0f15oC_font-family);
  font-weight: var(--mixin-ceVwa-0f15oC_font-weight);
  font-size: var(--mixin-ceVwa-0f15oC_font-size);
  line-height: var(--mixin-ceVwa-0f15oC_line-height);
}
